# dotnet core
bin/
obj/
project.lock.json
.NETCoreApp,Version=v2.0.AssemblyAttributes.cs
NuGetScratch/
published/
spa/wwwroot/main.*.js
spa/wwwroot/hmr.*.js

# node
node_modules/
typings/
npm-debug.log
